target/
.idea/
.svn/
.settings/
.project
.classpath
.DS_Store
*.iml
/streetlights-client-android/AndroidApp/gen
/streetlights-client-android/AndroidApp/lint.xml
/streetlights-client-android/AndroidApp/bin/classes.dex
/streetlights-client-android/AndroidApp/bin/resources.ap_
/streetlights-client-android/AndroidApp/bin/classes
/streetlights-client-android/AndroidApp/bin/res

/streetlights-android-module/bin/