<!--
  ~ Depicts a protocol to implement bigraphs in a restful manner.
  ~
  ~ Copyright (C)  2012  NMCB B.V.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see http://www.gnu.org/licenses/.
  -->

<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>streetlights-server</display-name>

    <filter>
        <filter-name>resource-filter</filter-name>
        <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>streetlights.service.web.RoadProvider</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>resource-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
